
  @import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500&display=swap');

body {
    background: #33392D;
    color: #EBDFC1;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}

.conteudo {
    margin: 0 auto;
    width: 100%;
    max-width: 450px;
    margin-top: 50px;
    margin-bottom: 50px;
    background: #525B48;
    padding: 55px;
    border-radius: 12px;
    box-shadow: 0 0 1em #879376;


}

.topo {
   display: flex;
   justify-content: space-between;
   margin-bottom: 35px;
}

.topo input {
    width: 350px;
    padding: 15px;
    border-radius: 12px;
    border: 1px solid #33392D;
    outline: none;
    font-size: 1.2rem;
    background: #33392D;
    color: #EBDFC1;
    font-family: manrope;

}

.topo button {
    width: 45px;
    border-radius: 12px;
    border: 1px solid #33392D;
    background: #33392D;
    color: #EBDFC1;
    outline: none;
}

.topo button:hover {
    background: #1f1e1e;
    cursor: pointer;
}

h1{
  text-align: center;
  font-family: manrope;
  font-weight: 900;
  margin-top: 15%;
}


#listaTarefas {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#listaTarefas li {
    padding: 20px;
    background: #33392D;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    font-family: manrope;


}

.btnAcao {
    border-radius: 20px;
    border: 1px solid #525B48;
    width: 38px;
    height: 38px;
    margin-right: 8px;
    cursor: pointer;
    background: #525B48;
    color: #EBDFC1;
    outline: none;
}

.btnAcao:hover {
    background: #1F221B;
}

.textoTarefa {
    overflow: hidden;
    text-overflow: ellipsis;
    width: 290px;
    white-space: nowrap;
}

#janelaEdicao {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background: #33392D;
    border: 1px solid #525B48;
    width: 415px;
    border-radius: 12px;
    z-index: 200;
    display: none;
}


#idTarefaEdicao{
  color: #191818;
  font-size: 1px;
}

#janelaEdicao.abrir {
    display: block !important;
}

#janelaEdicaoFundo {
    position: fixed;
    top: 0;
    background-color: #000;
    bottom: 0;
    left: 0;
    opacity: 0.9;
    z-index: 100;
    right: 0;
    display: none;
}

#janelaEdicaoFundo.abrir {
   display: block !important;    
}

#janelaEdicaoBtnFechar {
    position: absolute;
    top: -25px;
    right: -18px; 
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #525B48;
    background: #525B48;
    color: #33392D;
    outline: none;
}

form {
    width: 100%;
    margin-top: 20px;
}

.frm-linha {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.frm-linha label {
    margin-bottom: 7px;
    padding-bottom: 25px;
    font-size: 25px;
    text-align: center;
}

.frm-linha input {
    padding: 15px;
    border-radius: 12px;
    outline: none;
    border: 1px solid #525B48;
    font-size: 1.2rem;
    background: #525B48;
    color: #FFF;
}

.frm-linha button {
    background: #1F221B;
    border: 1px solid #1F221B;
    padding: 7px;
    margin-bottom: 10px;
    border-radius: 12px;
    color: #CCC;
    cursor: pointer;
    height: 50px;
    font-size: 1.3rem;
    outline: none;
}

.frm-linha button:hover {
    background: #151712;
} 

footer{
  text-align: center;
  color: #EBDFC1;
  font-size: 12px;
  font-family: manrope;
}

@media (max-width: 768px){
    .conteudo{
      width: 70%;
      padding: 30px;
      }
  
    #btnAddTarefa{
      border-radius: 12px;
      mangin-left: 20px;
      margin-top: 7%;
      width: 20%;
    }

    #inputNovaTarefa{
      width: 90%;
      height: 30px;
      margin-right: 5%;
      margin-top: 7%;
      font-size: 90%;
    }

    #janelaEdicao{
      width: 75%;
    }

    #listaTarefas{
      text-align: center;
    }
  
    }
}
